:root{
    --light-orange: #ff885d;
    --light-aqua: #639b92;
    --dark-aqua: #427483;
    --light-gray: #a8a8a8;
}

a{
    color: #ebe7df;
}
a:hover{
    color: #c9c5bd;
}

.alg-middle{
    margin-top: 7%;
}

.bg-dark-aqua{
    background-color: var(--dark-aqua);
}

.bg-light-orange{
    background-color: var(--light-orange);
}
.bg-light-aqua{
    background-color: var(--light-aqua);
}
.bg-light-gray{
    background-color: var(--light-gray);
}

.circle{
    display: inline-block;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin-right: 30px;
}
.footer-copy{
    background-color: rgba(0, 0, 0, 0.6);
    height: 120px;
}

.high-height{
    height: 400px;
}

.middle-height{
    height: 160px;
}
.huge-spinner{
    width: 5rem;
    height: 5em;
}
.right-container{
    background-color: #EF6B37;
}

.subtitle{
    color: #4c4c4c;
    letter-spacing: 5px;
}

.title{
    color:#222222;
    letter-spacing: 10px;
}

ul{
    list-style-type: none;
}


